/*
	@media screen and (orientation: landscape) {
		#image0 {
		  max-height:90%;
		  max-width: 90%;
		}
	  }
	  
	  @media screen and (orientation:portrait) {
		#image0 {
		    max-height:22px;
		  max-width: 22px;
		}
	}

*/
body {
	font-family: Arial,Univers,sans-serif;
	background-color: #d3d7cf;
}
fieldset{
	border-style: none;
	margin: .1em 0;
	
}
figcaption{
	font-size: xx-small;
}
.originalGeometry{
	z-index:1000; /*a number that's more than the modal box*/
	
}
.originalGeometry::after{
	content:"1234";/*url('fav.png'); /* with class ModalCarrot ??*/
	position:relative; /*or absolute*/
	z-index:100000; /*a number that's more than the modal box*/
	left:-50px;
	top:10px;
}
.chosen{
	padding:3px;
	border:rgb(13, 197, 13) solid 2px;

}
.placed{
	padding:3px;
	border:rgb(88, 88, 88) solid 2px;
	filter:grayscale(100%);
	filter:blur(2px);
}

.centerflex{
	display: flex;
    justify-content: space-between;
	flex-flow: wrap;
}

.lillehest{
	position: absolute;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#spinner
{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  width: 25%;
  height: 10%;

  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#mainbox{
	display: flex;
	flex-wrap:  wrap;
	flex-direction: row;	
}

#iPanel{
	width: 30em;
}

.imagepage .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
left: 30em;
right: -30em;
}

.imagepage .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
left: 0;
right: 0;
-webkit-transform: translate3d(30em,0,0);
-moz-transform: translate3d(30em,0,0);
transform: translate3d(30em,0,0);
}

.ui-panel-animate.ui-panel-page-content-position-left {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(30em,0,0);
    -moz-transform: translate3d(30em,0,0);
    transform: translate3d(30em,0,0);
}
#tilebox{
	/* overflow:auto; */
		width:94%;
	height:100%;

}	
#monthbox{
	/*overflow:auto;*/
		width:6%;
	height:100%;
	display: flex;
	flex-wrap:  nowrap;
	flex-direction: column;
}
.map {
	height: 100%;
  }
.aarDiv{
	font-size: small;
}

.monthDiv{
	margin-left: 1em;
	font-size: x-small;
}
.monthDiv:hover{
	font-weight: bold;
	cursor: pointer;
}
#footer{
	position: absolute;
	height: 2px;
	left:0px;
	bottom: 0px;
	/*overflow:hidden;*/
}

.tileboxMsg{
	display: flex;
    flex-wrap: wrap;
    color: #7f7f7f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    margin: 100px;
}
.areaSelect{
	background:#d3d7cf;
}
.navButton {
	height: 1em;
    width: 1em;
    position: fixed;
    top: 50%;
    background-color:#56565659;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 30px;
    margin: auto;
    line-height: 0.9;
    vertical-align: middle;
    font-weight: bolder;
}

#rNav{
	right:5%;
	}
#lNav{
	left:5%;
}
.navButton:hover {
	background-color:#85848475;
}
.navButton:active {
	
	top:50.3%; 
}

.slideShowControls{
	position: fixed;
	bottom:1%;
	right:1%;
	z-index: 1000;
}

#infobox{
	box-shadow: 0px 0px 13px 4px rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
    border-width: thin;
    position: absolute;
    border-radius: 4px;
    background-color: black;
    border-style: solid;
    top: 10%;
	left: 2%;
	padding: 0.2em
}




.infotable{
	color:darkgray;
	font-size:medium;
	margin-top: 0.3em;
}
/*
::-webkit-scrollbar {
	width: 3px;
  }
  
  ::-webkit-scrollbar-track {
	background:rgb(192, 190, 190); 
  }
   
  ::-webkit-scrollbar-thumb {
	background: #555; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #888; 
  }	

*/
h2 {
    margin: .2em 0 0 .2em;
}
.dateHeader{
	background-image: linear-gradient(lightgrey, white);
	display: flex;
    justify-content: space-between;
}

.dateDivMain{
	display: flex;
	flex-wrap:  wrap }	
	
.tile{
		position:relative;
		background: #ECECEC;
		border-radius: 15px;
		padding: 10px 10px;
		display: block;
		font-family: arial;
		font-weight: bold;
		color:#7f7f7f;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;
		margin:3px auto;
		box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;
}
#counters{
	font-size: small;
}

#aSlideshowSelect{
	background-color: black;
	color: darkgray;
}
#stopsign{
	color: darkgray;
	cursor: pointer;
	font-weight: bold;
	font-size: smaller;
}

.muPop{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1111111;
	background: black;
	display: flex;
	justify-content:center;


}

.nav{
	/*background-color: #7f7f7177;*/
}


#topdiv {
	height:200px;
}
#bunddiv{
	display: flex;
}
#resultatdiv{
	width:85%;
}
		
  
.container {
	margin: 0 auto;
	width: 75%;
	height: 100vh;
  }
  
  .mobile-nav {
	background: #555;
	color: #fff;
	display: none;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	padding: 20px;
	font-size: 20px;
  }
  
  .mobile-nav .nav-btn {
	cursor: pointer;
  }
  
  .nav {
	background: cornflowerblue;
	position: fixed;
	z-index: 1000;
  }
  
  nav ul {
	list-style: none;
	display: flex;
	background: cornflowerblue;
  }
  
 nav ul li a,
 nav ul li {
	cursor: pointer;
	  /* font-size: 20px; */
	text-decoration: none;
  }
  
 nav ul li {
	display: block;
  }
  
 nav ul li a {
	padding: 15px 25px;
	background: cornflowerblue;
	color: #fff;
	display: block;
  }
  
 nav li a:hover {
	background-color: #ccc3;
	color: #111;
  }
  
nav ul li ul {
	background: #555;
	padding-left: 5px;
	position: absolute;
	width: 10em;
	display: none;
  }
  
 nav li ul li a {
	padding: 0px;
	background: #555;
	color: #fff;
  }
  
 nav li ul li a:hover {
	background: #555;
  }
  
 nav ul li ul li {
	position: relative;
  }
  
 nav ul li ul li ul {
	position: absolute;
	top: 5px;
	left: 100%;
  }
  
 nav li:hover > ul,
 nav li:active > ul {
	display: block;
  }
  
  .dropdown {
	position: relative;
  }
  
  .dropdown > a,
  .dropdown > a:hover,
  .dropdown.active > a,
  .dropdown.active > a:hover {
	background: url("https://i.postimg.cc/y8b7mfcJ/arrow.png");
	background-position: right;
	background-size: 15px;
	background-repeat: no-repeat;
	color: #fff;
  }
  
  @media screen and (max-width: 768px) {
	.mobile-nav {
	  display: flex;
	}
  
	nav ul.nav {
	  visibility: hidden;
	  transform: translateY(-120%);
	  opacity: 0;
	  transition: 0.5s ease-in-out;
	}
  
	nav ul.nav.toggle {
	  visibility: visible;
	  transform: translateY(-90px);
	  opacity: 1;
	}
  
	nav ul {
	  flex-direction: column;
	}
	nav ul li {
	  overflow: hidden;
	  border: none;
	}
  
	nav ul li ul {
	  position: relative;
	  width: 90%;
	  padding: 0 5%;
	  transform: translateX(-100%);
	  display: block;
	  visibility: hidden;
	  height: 0;
	  overflow: hidden;
	  transition: transform 400ms ease;
	}
  
	nav ul li ul li ul {
	  position: initial;
	  background: #555;
	  top: 0;
	  width: 96%;
	  padding: 0 2%;
	}
	li:hover > ul,
	li:active > ul {
	  display: block;
	}
  
	li.active > ul{
	  transform: translateX(10px);
	  visibility: visible;
	  height: 100%;
	}
  
	.dropdown > a,
	.dropdown > a:hover,
	.dropdown.active > a,
	.dropdown.active > a:hover {
	  background-position: 95% 50%;
	}
  }